*.css
*.swo
*.swp
*~
.DS_Store
.buildpath
.bundle
.project
.rvmrc
.sass-cache/**/*
capybara-*
config/application.yml
config/database.yml
coverage
coverage.data
doc/*
log/*.log
public/system/
tags
tmp/
