# Ignore bundler config
/.bundle

# Ignore all logfiles and tempfiles
/log/*.log
/tmp

# Ignore config files
/config/database.yml
/config/application.yml

# Ignore public sub-directories
/public/packages/*
/public/system/*
