%section.block#about_us
  .container
    .row
      .offset2.span8
        %h4.headline Sobre nós
        %p.headline-caption= 'A <strong>Pousada Santana</strong> dispõe de acomodações para um total de 21 pessoas. São quartos econômicos, todos com TV e Internet via Wi-fi. Situada na pacata cidade de Roseira, à 9km do centro turistico de Aparecida-SP, em ótima localização para empresas, à 100m da Rodovia Pres. Dutra, com estacionamento próprio para autos e caminhões.'.html_safe
        =image_tag 'about_us_photos.png', alt: 'Pousada Santanna', title: 'Pousada Santanna', class: 'highlight'
