#center_map
  %h2 Nossa localização
  %br/
  %br/
  ='<iframe width="600" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Rua+Major+Vitoriano,+170+Roseira-SP+(Pousada+Santanna)&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=40.188298,79.013672&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Maj.+Vitoriano,+170+-+Roseira+-+S%C3%A3o+Paulo,+12580-000,+Brazil&amp;t=m&amp;ll=-22.900371,-45.305815&amp;spn=0.039533,0.051413&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>'.html_safe
  %br/
  ='<a class="external" href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Rua+Major+Vitoriano,+170+Roseira-SP+(Pousada+Santanna)&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=40.188298,79.013672&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Maj.+Vitoriano,+170+-+Roseira+-+S%C3%A3o+Paulo,+12580-000,+Brazil&amp;t=m&amp;ll=-22.900371,-45.305815&amp;spn=0.039533,0.051413&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Ver o mapa em uma nova janela</a>'.html_safe
