development:
  adapter: postgresql
  encoding: unicode
  database: pousada_santanna_development
  pool: 5
  username:
  password:
  host: localhost
  port: 5432

test:
  adapter: postgresql
  encoding: unicode
  database: pousada_santanna_test
  pool: 5
  username:
  password:
  host: localhost
  port: 5432

production:
  adapter: postgresql
  encoding: unicode
  database: pousada_santanna
  pool: 5
  username: postegres
  password:
  host: localhost
  port: 5432
