development:
  adapter: postgresql
  encoding: unicode
  database: pousadasantanna_development
  pool: 5
  username:
  password:
  host: localhost
  port: 5432

test:
  adapter: postgresql
  encoding: unicode
  database: pousadasantanna_test
  pool: 5
  username:
  password:
  host: localhost
  port: 5432

production:
  adapter: postgresql
  encoding: unicode
  database: pousadasantanna
  pool: 5
  username: postegres
  password:
  host: localhost
  port: 5432
