<p class="center">
  A <strong>Pousada Santana</strong> dispõe de acomodações para um total de 21 pessoas. São quartos econômicos, todos com TV e Internet via Wi-fi. Situada na pacata cidade de Roseira, à 9km do centro turistico de Aparecida-SP, em ótima localização para empresas, à 100m da Rodovia Pres. Dutra, com estacionamento próprio para autos e caminhões.</p><br />

  <div id="center_photos">
  <div id="photos" class="galleryview">
    <div class="panel">
      <img src="images/photos/quarto4a.jpg" />
      <div class="panel-overlay"><h2>Quartos</h2><p>Foto 1</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/quarto4b.jpg" />
      <div class="panel-overlay"><h2>Quartos</h2><p>Foto 2</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/quarto5a.jpg" />
      <div class="panel-overlay"><h2>Quartos</h2><p>Foto 3</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/quarto5b.jpg" />
      <div class="panel-overlay"><h2>Quartos</h2><p>Foto 4</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/quarto6a.jpg" />
      <div class="panel-overlay"><h2>Quartos</h2><p>Foto 5</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/quarto6b.jpg" />
      <div class="panel-overlay"><h2>Quartos</h2><p>Foto 6</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/quarto8a.jpg" />
      <div class="panel-overlay"><h2>Quartos</h2><p>Foto 7</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/quarto8b.jpg" />
      <div class="panel-overlay"><h2>Quartos</h2><p>Foto 8</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/quarto8c.jpg" />
      <div class="panel-overlay"><h2>Quartos</h2><p>Foto 9</p></div>
    </div>

    <ul class="filmstrip">
      <li><img src="images/photos/tb_quarto4a.jpg" alt="Quarto - foto 1" title="Quarto - foto 1" /></li>
      <li><img src="images/photos/tb_quarto4b.jpg" alt="Quarto - foto 1" title="Quarto - foto 2" /></li>
      <li><img src="images/photos/tb_quarto5a.jpg" alt="Quarto - foto 1" title="Quarto - foto 3" /></li>
      <li><img src="images/photos/tb_quarto5b.jpg" alt="Quarto - foto 1" title="Quarto - foto 4" /></li>
      <li><img src="images/photos/tb_quarto6a.jpg" alt="Quarto - foto 1" title="Quarto - foto 5" /></li>
      <li><img src="images/photos/tb_quarto6b.jpg" alt="Quarto - foto 1" title="Quarto - foto 6" /></li>
      <li><img src="images/photos/tb_quarto8a.jpg" alt="Quarto - foto 1" title="Quarto - foto 7" /></li>
      <li><img src="images/photos/tb_quarto8b.jpg" alt="Quarto - foto 1" title="Quarto - foto 8" /></li>
      <li><img src="images/photos/tb_quarto8c.jpg" alt="Quarto - foto 1" title="Quarto - foto 9" /></li>
    </ul>
  </div>
</div>
