<div id="center_photos">

  <h2>Galeria de fotos</h2><br />
  <br />
  <div id="photos" class="galleryview">
    <div class="panel">
      <img src="images/photos/entrada1.jpg" />
      <div class="panel-overlay"><h2>Entrada</h2><p>Foto 1</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/entrada2.jpg" />
      <div class="panel-overlay"><h2>Entrada</h2><p>Foto 2</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/entrada3.jpg" />
      <div class="panel-overlay"><h2>Entrada</h2><p>Foto 3</p></div>
    </div>

    <div class="panel">
      <img src="images/photos/sala1.jpg" />
      <div class="panel-overlay"><h2>Sala</h2><p>Foto 1</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/sala2.jpg" />
      <div class="panel-overlay"><h2>Sala</h2><p>Foto 2</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/sala3.jpg" />
      <div class="panel-overlay"><h2>Sala</h2><p>Foto 3</p></div>
    </div>

    <div class="panel">
      <img src="images/photos/salao1.jpg" />
      <div class="panel-overlay"><h2>Salão</h2><p>Foto 1</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/salao2.jpg" />
      <div class="panel-overlay"><h2>Salão</h2><p>Foto 2</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/salao3.jpg" />
      <div class="panel-overlay"><h2>Salão</h2><p>Foto 3</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/salao4.jpg" />
      <div class="panel-overlay"><h2>Salão</h2><p>Foto 4</p></div>
    </div>

    <div class="panel">
      <img src="images/photos/quarto4a.jpg" />
      <div class="panel-overlay"><h2>Quartos</h2><p>Foto 1</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/quarto4b.jpg" />
      <div class="panel-overlay"><h2>Quartos</h2><p>Foto 2</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/quarto5a.jpg" />
      <div class="panel-overlay"><h2>Quartos</h2><p>Foto 3</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/quarto5b.jpg" />
      <div class="panel-overlay"><h2>Quartos</h2><p>Foto 4</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/quarto6a.jpg" />
      <div class="panel-overlay"><h2>Quartos</h2><p>Foto 5</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/quarto6b.jpg" />
      <div class="panel-overlay"><h2>Quartos</h2><p>Foto 6</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/quarto8a.jpg" />
      <div class="panel-overlay"><h2>Quartos</h2><p>Foto 7</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/quarto8b.jpg" />
      <div class="panel-overlay"><h2>Quartos</h2><p>Foto 8</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/quarto8c.jpg" />
      <div class="panel-overlay"><h2>Quartos</h2><p>Foto 9</p></div>
    </div>

    <div class="panel">
      <img src="images/photos/cozinha1.jpg" />
      <div class="panel-overlay"><h2>Cozinha</h2><p>Foto 1</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/cozinha2.jpg" />
      <div class="panel-overlay"><h2>Cozinha</h2><p>Foto 2</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/cozinha3.jpg" />
      <div class="panel-overlay"><h2>Cozinha</h2><p>Foto 3</p></div>
    </div>

    <div class="panel">
      <img src="images/photos/quintal1.jpg" />
      <div class="panel-overlay"><h2>Quintal</h2><p>Foto 1</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/quintal2.jpg" />
      <div class="panel-overlay"><h2>Quintal</h2><p>Foto 2</p></div>
    </div>
    <div class="panel">
      <img src="images/photos/quintal3.jpg" />
      <div class="panel-overlay"><h2>Quintal</h2><p>Foto 3</p></div>
    </div>

    <ul class="filmstrip">
      <li><img src="images/photos/tb_entrada1.jpg" alt="Entrada - foto 1" title="Entrada - foto 1" /></li>
      <li><img src="images/photos/tb_entrada2.jpg" alt="Entrada - foto 1" title="Entrada - foto 1" /></li>
      <li><img src="images/photos/tb_entrada3.jpg" alt="Entrada - foto 1" title="Entrada - foto 1" /></li>
      <li><img src="images/photos/tb_sala1.jpg" alt="Sala - foto 1" title="Sala - foto 1" /></li>
      <li><img src="images/photos/tb_sala2.jpg" alt="Sala - foto 2" title="Sala - foto 2" /></li>
      <li><img src="images/photos/tb_sala3.jpg" alt="Sala - foto 3" title="Sala - foto 3" /></li>
      <li><img src="images/photos/tb_salao1.jpg" alt="Salão - foto 1" title="Salão - foto 1" /></li>
      <li><img src="images/photos/tb_salao2.jpg" alt="Salão - foto 2" title="Salão - foto 2" /></li>
      <li><img src="images/photos/tb_salao3.jpg" alt="Salão - foto 3" title="Salão - foto 3" /></li>
      <li><img src="images/photos/tb_salao4.jpg" alt="Salão - foto 4" title="Salão - foto 4" /></li>
      <li><img src="images/photos/tb_quarto4a.jpg" alt="Quarto - foto 1" title="Quarto - foto 1" /></li>
      <li><img src="images/photos/tb_quarto4b.jpg" alt="Quarto - foto 1" title="Quarto - foto 2" /></li>
      <li><img src="images/photos/tb_quarto5a.jpg" alt="Quarto - foto 1" title="Quarto - foto 3" /></li>
      <li><img src="images/photos/tb_quarto5b.jpg" alt="Quarto - foto 1" title="Quarto - foto 4" /></li>
      <li><img src="images/photos/tb_quarto6a.jpg" alt="Quarto - foto 1" title="Quarto - foto 5" /></li>
      <li><img src="images/photos/tb_quarto6b.jpg" alt="Quarto - foto 1" title="Quarto - foto 6" /></li>
      <li><img src="images/photos/tb_quarto8a.jpg" alt="Quarto - foto 1" title="Quarto - foto 7" /></li>
      <li><img src="images/photos/tb_quarto8b.jpg" alt="Quarto - foto 1" title="Quarto - foto 8" /></li>
      <li><img src="images/photos/tb_quarto8c.jpg" alt="Quarto - foto 1" title="Quarto - foto 9" /></li>
      <li><img src="images/photos/tb_cozinha1.jpg" alt="Cozinha - foto 1" title="Cozinha - foto 1" /></li>
      <li><img src="images/photos/tb_cozinha2.jpg" alt="Cozinha - foto 2" title="Cozinha - foto 2" /></li>
      <li><img src="images/photos/tb_cozinha3.jpg" alt="Cozinha - foto 3" title="Cozinha - foto 3" /></li>
      <li><img src="images/photos/tb_quintal1.jpg" alt="Quintal - foto 1" title="Quintal - foto 1" /></li>
      <li><img src="images/photos/tb_quintal2.jpg" alt="Quintal - foto 2" title="Quintal - foto 2" /></li>
      <li><img src="images/photos/tb_quintal3.jpg" alt="Quintal - foto 3" title="Quintal - foto 3" /></li>
    </ul>
  </div>
</div>
