#center_photos
  %h2 Galeria de fotos
  %br/
  %br/
  #photos.galleryview
    .panel
      %img{:src => "images/photos/entrada1.jpg"}/
      .panel-overlay
        %h2 Entrada
        %p Foto 1
    .panel
      %img{:src => "images/photos/entrada2.jpg"}/
      .panel-overlay
        %h2 Entrada
        %p Foto 2
    .panel
      %img{:src => "images/photos/entrada3.jpg"}/
      .panel-overlay
        %h2 Entrada
        %p Foto 3
    .panel
      %img{:src => "images/photos/sala1.jpg"}/
      .panel-overlay
        %h2 Sala
        %p Foto 1
    .panel
      %img{:src => "images/photos/sala2.jpg"}/
      .panel-overlay
        %h2 Sala
        %p Foto 2
    .panel
      %img{:src => "images/photos/sala3.jpg"}/
      .panel-overlay
        %h2 Sala
        %p Foto 3
    .panel
      %img{:src => "images/photos/salao1.jpg"}/
      .panel-overlay
        %h2 Sal達o
        %p Foto 1
    .panel
      %img{:src => "images/photos/salao2.jpg"}/
      .panel-overlay
        %h2 Sal達o
        %p Foto 2
    .panel
      %img{:src => "images/photos/salao3.jpg"}/
      .panel-overlay
        %h2 Sal達o
        %p Foto 3
    .panel
      %img{:src => "images/photos/salao4.jpg"}/
      .panel-overlay
        %h2 Sal達o
        %p Foto 4
    .panel
      %img{:src => "images/photos/quarto4a.jpg"}/
      .panel-overlay
        %h2 Quartos
        %p Foto 1
    .panel
      %img{:src => "images/photos/quarto4b.jpg"}/
      .panel-overlay
        %h2 Quartos
        %p Foto 2
    .panel
      %img{:src => "images/photos/quarto5a.jpg"}/
      .panel-overlay
        %h2 Quartos
        %p Foto 3
    .panel
      %img{:src => "images/photos/quarto5b.jpg"}/
      .panel-overlay
        %h2 Quartos
        %p Foto 4
    .panel
      %img{:src => "images/photos/quarto6a.jpg"}/
      .panel-overlay
        %h2 Quartos
        %p Foto 5
    .panel
      %img{:src => "images/photos/quarto6b.jpg"}/
      .panel-overlay
        %h2 Quartos
        %p Foto 6
    .panel
      %img{:src => "images/photos/quarto8a.jpg"}/
      .panel-overlay
        %h2 Quartos
        %p Foto 7
    .panel
      %img{:src => "images/photos/quarto8b.jpg"}/
      .panel-overlay
        %h2 Quartos
        %p Foto 8
    .panel
      %img{:src => "images/photos/quarto8c.jpg"}/
      .panel-overlay
        %h2 Quartos
        %p Foto 9
    .panel
      %img{:src => "images/photos/cozinha1.jpg"}/
      .panel-overlay
        %h2 Cozinha
        %p Foto 1
    .panel
      %img{:src => "images/photos/cozinha2.jpg"}/
      .panel-overlay
        %h2 Cozinha
        %p Foto 2
    .panel
      %img{:src => "images/photos/cozinha3.jpg"}/
      .panel-overlay
        %h2 Cozinha
        %p Foto 3
    .panel
      %img{:src => "images/photos/quintal1.jpg"}/
      .panel-overlay
        %h2 Quintal
        %p Foto 1
    .panel
      %img{:src => "images/photos/quintal2.jpg"}/
      .panel-overlay
        %h2 Quintal
        %p Foto 2
    .panel
      %img{:src => "images/photos/quintal3.jpg"}/
      .panel-overlay
        %h2 Quintal
        %p Foto 3
    %ul.filmstrip
      %li
        %img{:alt => "Entrada - foto 1", :src => "images/photos/tb_entrada1.jpg", :title => "Entrada - foto 1"}/
      %li
        %img{:alt => "Entrada - foto 1", :src => "images/photos/tb_entrada2.jpg", :title => "Entrada - foto 1"}/
      %li
        %img{:alt => "Entrada - foto 1", :src => "images/photos/tb_entrada3.jpg", :title => "Entrada - foto 1"}/
      %li
        %img{:alt => "Sala - foto 1", :src => "images/photos/tb_sala1.jpg", :title => "Sala - foto 1"}/
      %li
        %img{:alt => "Sala - foto 2", :src => "images/photos/tb_sala2.jpg", :title => "Sala - foto 2"}/
      %li
        %img{:alt => "Sala - foto 3", :src => "images/photos/tb_sala3.jpg", :title => "Sala - foto 3"}/
      %li
        %img{:alt => "Sal\303\243o - foto 1", :src => "images/photos/tb_salao1.jpg", :title => "Sal\303\243o - foto 1"}/
      %li
        %img{:alt => "Sal\303\243o - foto 2", :src => "images/photos/tb_salao2.jpg", :title => "Sal\303\243o - foto 2"}/
      %li
        %img{:alt => "Sal\303\243o - foto 3", :src => "images/photos/tb_salao3.jpg", :title => "Sal\303\243o - foto 3"}/
      %li
        %img{:alt => "Sal\303\243o - foto 4", :src => "images/photos/tb_salao4.jpg", :title => "Sal\303\243o - foto 4"}/
      %li
        %img{:alt => "Quarto - foto 1", :src => "images/photos/tb_quarto4a.jpg", :title => "Quarto - foto 1"}/
      %li
        %img{:alt => "Quarto - foto 1", :src => "images/photos/tb_quarto4b.jpg", :title => "Quarto - foto 2"}/
      %li
        %img{:alt => "Quarto - foto 1", :src => "images/photos/tb_quarto5a.jpg", :title => "Quarto - foto 3"}/
      %li
        %img{:alt => "Quarto - foto 1", :src => "images/photos/tb_quarto5b.jpg", :title => "Quarto - foto 4"}/
      %li
        %img{:alt => "Quarto - foto 1", :src => "images/photos/tb_quarto6a.jpg", :title => "Quarto - foto 5"}/
      %li
        %img{:alt => "Quarto - foto 1", :src => "images/photos/tb_quarto6b.jpg", :title => "Quarto - foto 6"}/
      %li
        %img{:alt => "Quarto - foto 1", :src => "images/photos/tb_quarto8a.jpg", :title => "Quarto - foto 7"}/
      %li
        %img{:alt => "Quarto - foto 1", :src => "images/photos/tb_quarto8b.jpg", :title => "Quarto - foto 8"}/
      %li
        %img{:alt => "Quarto - foto 1", :src => "images/photos/tb_quarto8c.jpg", :title => "Quarto - foto 9"}/
      %li
        %img{:alt => "Cozinha - foto 1", :src => "images/photos/tb_cozinha1.jpg", :title => "Cozinha - foto 1"}/
      %li
        %img{:alt => "Cozinha - foto 2", :src => "images/photos/tb_cozinha2.jpg", :title => "Cozinha - foto 2"}/
      %li
        %img{:alt => "Cozinha - foto 3", :src => "images/photos/tb_cozinha3.jpg", :title => "Cozinha - foto 3"}/
      %li
        %img{:alt => "Quintal - foto 1", :src => "images/photos/tb_quintal1.jpg", :title => "Quintal - foto 1"}/
      %li
        %img{:alt => "Quintal - foto 2", :src => "images/photos/tb_quintal2.jpg", :title => "Quintal - foto 2"}/
      %li
        %img{:alt => "Quintal - foto 3", :src => "images/photos/tb_quintal3.jpg", :title => "Quintal - foto 3"}/
