.center
  %p
    %strong Seja bem-vindo ao website da Pousada Santanna.
  %p Segurança, tranquilidade e ambiente familiar.
  %br/
  =image_tag 'photos/index1.jpg', alt: 'Pousada Santanna', title: 'Pousada Santanna'
  =image_tag 'photos/index2.jpg', alt: 'Pousada Santanna', title: 'Pousada Santanna'
  %br/
  =image_tag 'photos/index3.jpg', alt: 'Pousada Santanna', title: 'Pousada Santanna'
  =image_tag 'photos/index4.jpg', alt: 'Pousada Santanna', title: 'Pousada Santanna'
