<div class="center">
  <p><strong>Seja bem-vindo ao website da Pousada Santanna.</strong></p>
  <p>Segurança, tranquilidade e ambiente familiar.</p>
  <br />
  <img src="images/photos/index1.jpg" alt="Pousada Santanna" title="Pousada Santanna" />
  <img src="images/photos/index2.jpg" alt="Pousada Santanna" title="Pousada Santanna" /><br />
  <img src="images/photos/index3.jpg" alt="Pousada Santanna" title="Pousada Santanna" />
  <img src="images/photos/index4.jpg" alt="Pousada Santanna" title="Pousada Santanna" />
</div>
