.center
  %p
    %strong Seja bem-vindo ao website da Pousada Santanna.
  %p Segurança, tranquilidade e ambiente familiar.
  %br/
  %img{:alt => "Pousada Santanna", :src => "images/photos/index1.jpg", :title => "Pousada Santanna"}/
  %img{:alt => "Pousada Santanna", :src => "images/photos/index2.jpg", :title => "Pousada Santanna"}/
  %br/
  %img{:alt => "Pousada Santanna", :src => "images/photos/index3.jpg", :title => "Pousada Santanna"}/
  %img{:alt => "Pousada Santanna", :src => "images/photos/index4.jpg", :title => "Pousada Santanna"}/
