#center_map
  %h2 Nossa localização
  %br/
  %br/
  %iframe#map{:src => "http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Rua+Major+Vitoriano,+170+Roseira-SP(Pousada+Santanna)&amp;sll=-22.796345,-45.18915&amp;sspn=0.008506,0.01929&amp;ie=UTF8&amp;ll=-22.890883,-45.301609&amp;spn=0.002125,0.004823&amp;z=14&amp;output=embed"}
  %br/
  %a.external{:href => "http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Rua+Major+Vitoriano,+170+Roseira-SP(Pousada+Santanna)&amp;sll=-22.796345,-45.18915&amp;sspn=0.008506,0.01929&amp;ie=UTF8&amp;ll=-22.890883,-45.301609&amp;spn=0.002125,0.004823&amp;z=14"} Ver mapa uma nova janela
