#photos_management
  -@grouped_photos.keys.each do |photo_kind|
    %h1
      Fotos -
      =t "enumerations.photo_kind.#{photo_kind}"
    %table
      %tr
        %th Foto
        %th Código
        %th Criada em
        %th
      -@grouped_photos[photo_kind].each do |photo|
        %tr
          %td=image_tag photo.photo.url(:thumb)
          %td.center=photo.id
          %td=l photo.created_at
          %td=link_to 'Remover', photo, :confirm => 'Você tem certeza?', :method => :delete
    %br/
    %br/
    %br/
    %br/

%h1 Enviar nova foto
%br/
=form_for @photo, :html => { :multipart => true } do |f|
  =field_set_tag do
    -if @photo.errors.any?
      .red=@photo.errors.full_messages.join(', ')
    .field
      =f.label :photo_kind
      %br/
      =f.select :photo_kind, PhotoKind.to_a
    .field
      =f.label :photo
      %br/
      =f.file_field :photo
    %br/

    .actions
      =f.submit 'Enviar'
