!!! XML
!!! Strict
%html{:lang => 'pt-br', 'xml:lang' => 'pt-br', :xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %meta{:content => 'text/html;charset=UTF-8', 'http-equiv' => 'content-type'}/
    %title Pousada Santanna - Admin
    =stylesheet_link_tag 'admin'
    =javascript_include_tag 'vendor/jquery.min', 'vendor/jquery_ujs', 'vendor/jquery.ie6blocker'
    =csrf_meta_tag
  %body
    #main
      #box_wrapper
        #box_top.center
          %h1 Pousada Santanna - Admin
          .right=link_to '→ Ir para o site', root_path
        #box_center
          -if flash.present?
            .flash
              %div{:class => "message #{flash.first.first}"}
                =flash.first.last
          #content
            =yield
