!!! XML
!!! Strict
%html{:lang => 'pt-br', 'xml:lang' => 'pt-br', :xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %meta{:content => 'text/html;charset=UTF-8', 'http-equiv' => 'content-type'}/
    %meta{:content => 'Lucas Caton', :name => 'author'}/
    %meta{:content => 'Pousada Santanna - Acomodações em Roseira-SP.', :name => 'description'}/
    %meta{:content => 'pousada, hotel, santanna, roseira, aparecida, guaratinguetá, pindamonhangaba, vale do paraíba', :name => 'keywords'}/
    %meta{:content => 'Pousada Santanna', :name => 'title'}/
    %meta{:content => 'http://www.pousadasantanna.com', :name => 'url'}/
    %meta{:content => 'all', :name => 'robots'}/
    %meta{:content => '', :name => 'verify-v1'}/
    %meta{:content => '7 days', :name => 'revisit-after'}/
    %title Pousada Santanna
    =stylesheet_link_tag 'application', media: 'all'
    =favicon_link_tag
    =csrf_meta_tags
  %body
    #main
      #box_wrapper
        #box_top
        #box_center
          #nav
            =link_to 'Página inicial', root_path
            =link_to 'Acomodações', acomodacoes_path
            =link_to 'Galeria', galeria_path
            =link_to 'Localização', localizacao_path
            =link_to 'Fale Conosco', contact_form_path
          -flash.each do |type, message|
            =javascript_tag "alert('#{message}')"
          #content
            =yield
          #footer
            #address
              %span
                %a{:href => './localizacao'} Rua Major Vitoriano, 170, Centro - Roseira-SP
              %span (12) 3646-1282
              %span
                %a{:href => 'mailto:pousadasantanna@gmail.com'} pousadasantanna@gmail.com
            #developed_by
              %a.external{:href => 'http://www.sotix.com.br/'}
        #box_bottom
        #copyright
          %span &copy; #{Date.today.year} Pousada Satanna

    =javascript_include_tag 'application'
    / Google Analytics
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2643450-5']);
      _gaq.push(['_setDomainName', 'pousadasantanna.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
